@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+DE+SAS:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'montserrat', sans-serif;
}